<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Blog" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/poole.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/lanyon.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/public/apple-icon-144x144.png">
  <link rel="shortcut icon" href="{{ site.baseurl }}/public/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

  <!-- MathJax -->
  <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

  <!-- Highlight.js -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/styles/default.min.css">
  <style>.hljs{background:transparent;}</style>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>

  {% if page.interactive %}
    <!-- codemirror -->
    <link rel="stylesheet" href="{{ site.baseurl }}/public/css/codemirror/codemirror.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/public/css/codemirror/addon/foldgutter.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/public/css/codemirror/monokai.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/public/css/codemirror/preview.css">
    <script src="{{ site.baseurl }}/public/js/codemirror/codemirror.js"></script>
    <script src="{{ site.baseurl }}/public/js/codemirror/mode/javascript.js"></script>
    <script src="{{ site.baseurl }}/public/js/codemirror/addon/selection/mark-selection.js"></script>
    <script src="{{ site.baseurl }}/public/js/codemirror/addon/fold/brace-fold.js"></script>
    <script src="{{ site.baseurl }}/public/js/codemirror/addon/fold/comment-fold.js"></script>
    <script src="{{ site.baseurl }}/public/js/codemirror/addon/fold/foldcode.js"></script>
    <script src="{{ site.baseurl }}/public/js/codemirror/addon/fold/foldgutter.js"></script>
    <script src="{{ site.baseurl }}/public/js/codemirror/addon/fold/indent-fold.js"></script>
    <script src="{{ site.baseurl }}/public/js/codemirror/addon/fold/markdown-fold.js"></script>
    <script src="{{ site.baseurl }}/public/js/codemirror/addon/fold/xml-fold.js"></script>
    <script src="{{ site.baseurl }}/public/js/interactive/codeeditor.js"></script>
    <script src="{{ site.baseurl }}/public/js/interactive/mouse.js"></script>
  {% endif %}

  {% if page.threejs %}
    <script src="{{ site.baseurl }}/public/js/threejs/three.min.js"></script>
    <script src="{{ site.baseurl }}/public/js/threejs/dat.gui.min.js"></script>
    <script src="{{ site.baseurl }}/public/js/threejs/stats.min.js"></script>
  {% endif %}

  {% if page.shader %}
    <script src="{{ site.baseurl }}/public/js/codemirror/clike.js"></script>
  {% endif %}

  {% if page.chartjs %}
    <script src="{{ site.baseurl }}/public/js/chartjs/Chart.bundle_2_0.min.js"></script>
    <script src="{{ site.baseurl }}/public/js/chartjs/utils.js"></script>
  {% endif %}

  {% if page.gridworld %}
    <script src="{{ site.baseurl }}/public/js/gridworld/tf.min.js"></script>
    <script src="{{ site.baseurl }}/public/js/gridworld/Constants.js"></script>
    <script src="{{ site.baseurl }}/public/js/gridworld/Env.js"></script>
    <script src="{{ site.baseurl }}/public/js/gridworld/Agent.js"></script>
    <script src="{{ site.baseurl }}/public/js/gridworld/DQNAgent.js"></script>
    <script src="{{ site.baseurl }}/public/js/gridworld/DoubleDQNAgent.js"></script>
    <script src="{{ site.baseurl }}/public/js/gridworld/DuelingDQNAgent.js"></script>
    <script src="{{ site.baseurl }}/public/js/gridworld/DQNAgent_Framed.js"></script>
    <script src="{{ site.baseurl }}/public/js/gridworld/DeepSARSAAgent.js"></script>
    <script src="{{ site.baseurl }}/public/js/gridworld/ActorCriticAgent.js"></script>
    <script src="{{ site.baseurl }}/public/js/gridworld/A3CAgent_Worker.js"></script>
    <script src="{{ site.baseurl }}/public/js/gridworld/Entity.js"></script>
    <script src="{{ site.baseurl }}/public/js/gridworld/math.js"></script>
    <script src="{{ site.baseurl }}/public/js/gridworld/queue.js"></script>
  {% endif %}

  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9211183422079007"
     crossorigin="anonymous"></script>
</head>
