<img src="/images/tag-256.png" alt="Tags: " class="tag-img"/>
<div class="post-tags">
  {% if post %}
    {% assign tags = post.tags %}
  {% else %}
    {% assign tags = page.tags %}
  {% endif %}
  [
  {% for tag in tags %}
    {% if page.lang == 'kr' %}
      <a href="/tags/#{{tag|slugize}}">{{tag}}</a>{% unless forloop.last %},{% endunless %}
    {% else %}
      <a href="/tags_en/#{{tag|slugize}}">{{tag}}</a>{% unless forloop.last %},{% endunless %}
    {% endif %}
  {% endfor %}
  ]
</div>
<br/>
