<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    {% if page.lang == 'kr' %}
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>
      <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}/homepage.html">Inventory</a>
      <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}/tags">Tags</a>
    {% else %}
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/index_en/">Home</a>
      <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}/homepage.html">Inventory</a>
      <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}/tags_en">Tags</a>
    {% endif %}
    <!-- {% assign posts_list = site.posts | sort:"url" %} -->
    {% assign posts_list = site.posts | where:"lang", page.lang %}
    {% for node in posts_list %}
      {% if node.title != null %}
        <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">📝 {{ node.title }}</a>
      {% endif %}
    {% endfor %}

  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }} greentec.github.io All rights reserved.
    </p>
    <a href="https://twitter.com/greentecq">
      <span class="svg-icon svg-baseline" aria-hidden="true">
        <svg class='sns'><use xlink:href="../icon/icons.min.svg#icon-twitter"></use></svg>
      </span>
    </a>
    <a href="https://github.com/greentec">
        <span class="svg-icon svg-baseline" aria-hidden="true">
            <svg class='sns'><use xlink:href="../icon/icons.min.svg#icon-github"></use></svg>
        </span>
    </a>
    <a href="https://www.linkedin.com/in/hwanhee-kim-a802a6118/">
      <span class="svg-icon svg-baseline" aria-hidden="true">
          <svg class='sns'><use xlink:href="../icon/icons.min.svg#icon-linkedin"></use></svg>
      </span>
    </a>
    <a href="https://www.pinterest.co.kr/greentec91/">
      <span class="svg-icon svg-baseline" aria-hidden="true">
          <svg class='sns'><use xlink:href="../icon/icons.min.svg#icon-pinterest"></use></svg>
      </span>
    </a>
  </div>
</div>
