.CodeMirror {
    float: left;
    width: 100%;
    border: 1px solid black;
    font-size: 0.75rem;
    height: auto;
}
.CodeMirror.CodeMirror-wrap {
    width: 100%;
    /* height: 300px; */
}
.CodeMirror-wrap.CodeMirror-scroll {
    min-height: 300px !important;
}
.previewContainer {
    position: absolute;
    width: 35%;
    min-width: 300px;
    max-width: 320px;
    margin: 0;
    padding: 0;
    /* z-index: 777; */
}
.previewInside {
    position: absolute;
    width: 360px;
    min-width: 360px;
    height: 280px;
    min-height: 280px;
    border: 1px solid gray;
    overflow: hidden;
    left: 50%;
}
.previewOutside {
    width: 49%;
    height: 280px;
    min-width: 350px;
    min-height: 280px;
    border: 1px solid gray;
    overflow: hidden;
    float: right;
}
.previewOutside_410 {
    width: 58%;
    height: 310px;
    min-width: 410px !important;
    min-height: 310px !important;
    border: 1px solid gray;
    overflow: hidden;
    float: right;
}
.previewOutside_410_330 {
    width: 58%;
    height: 330px;
    min-width: 410px !important;
    min-height: 330px !important;
    border: 1px solid gray;
    overflow: hidden;
    float: right;
}
.previewOutside_720_620 {
    width: 100%;
    height: 620px;
    min-width: 720px !important;
    min-height: 620px !important;
    border: 1px solid gray;
    overflow: hidden;
    float: right;
}
.previewOutsideLeft {
    width: 49%;
    height: 280px;
    min-width: 350px;
    min-height: 280px;
    border: 1px solid gray;
    overflow: hidden;
    float: left;
}
.fullscreen_button {
    position: absolute;
    float: right;
}
canvas {
    width: 100%;
    height: 100%;
}
.styled-background {
    background-color: #75715E;
}
.slider {
    width: 100%;
    height: 25px;
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}
small {
    color: #772277;
}
.codeeditor {
    display: none;
    height: 10px;
}
.consoleoutput {
    width: 100%;
    height: auto;
    min-height: 16px;
    max-height: 230px;
    border: solid 1px #282828;
    padding: 4px 16px;
    background-color: #969696;
}
.chart {
    width: 100% !important;
}
