.CodeMirror {
    float: left;
    width: 100%;
    border: 1px solid black;
    font-size: 0.75rem;
    height: auto;
}
.CodeMirror.CodeMirror-wrap {
    width: 50%;
    height: 300px;
}
iframe {
    width: 49%;
    float: left;
    height: 300px;
    border: 1px solid black;
    border-left: 0px;
    overflow: hidden;
}
canvas {
    width: 100%;
    height: 100%;
}
.styled-background {
    background-color: #75715E;
}
