.CodeMirror {
    float: left;
    width: 100%;
    border: 1px solid black;
    font-size: 0.75rem;
}
.CodeMirror.CodeMirror-wrap {
    float: left;
    width: 50%;
    border: 1px solid black;
    font-size: 0.75rem;
}
iframe {
    width: 49%;
    float: left;
    height: 300px;
    border: 1px solid black;
    border-left: 0px;
}
