<!DOCTYPE html>
<html lang="{{ page.lang }}">

  {% include head.html %}

  <body>

    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="{{ site.baseurl }}/" title="Blog">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
          </h3>
          <div style="float: right; text-align: right; line-height: 2em; background-color: #fff">
              {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
              {% for post in posts %} <a href="{{ post.url | prepend: site.baseurl }}" class="{{ post.lang }}">{{ post.lang }}</a> {% endfor %}

              {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
              {% for page in pages %} <a href="{{ page.url | prepend: site.baseurl }}" class="{{ page.lang }}">{{ page.lang }}</a> {% endfor %}
          </div>
        </div>
      </div>

      <div class="container content">
        {{ content }}
      </div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <script>
      (function(document) {
        var toggle = document.querySelector('.sidebar-toggle');
        var sidebar = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');

        document.addEventListener('click', function(e) {
          var target = e.target;

          if(!checkbox.checked ||
             sidebar.contains(target) ||
             (target === checkbox || target === toggle)) return;

          checkbox.checked = false;
        }, false);
      })(document);
    </script>

    {% include analytics.html %}
    <script id="dsq-count-scr" src="//newgamedev.disqus.com/count.js" async></script>
  </body>
</html>
